body {

    background-color: rgb(55, 54, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.caratula {
    width: 200px;
    height: 300px;
    margin: 0px 50px 50px 50px;
}

.titulo {
    color: whitesmoke;
    text-align: center;
}