.album {
  background-color: rgb(35, 34, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.splashArt {
  width: 200px;
  height: 200px;
  margin: 0px 50px 50px 50px;
  object-fit: cover;
}

.titulo {
  color: whitesmoke;
  text-align: center;
}

.btn-mas {
    font-family: Arial;
    font-weight: 800;
    background-color: #ffffff;
    color: #0a0a0ae6;
    padding: 16px;
    cursor: pointer;
    border-width: 0;
}

body {
    background-color: rgb(35, 34, 61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}