/*.menu {
    position:fixed;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    font-size: 20px;
}

li {
    list-style:none
}
*/

/*span {
    display: flex;
    justify-content: center;
    font-family: "Roboto";
}*/


.border{
    border:solid;
    border-width:5px;
    border-radius: 50%;
}

h1 {
display: flex;
justify-content: center;
text-align: justify;
margin:auto;
width: 24%;
height: 24%;
font-family: Roboto;
padding-bottom: 2vh;
font-size: 4vh;
}

.title{
display: flex;
justify-content: center;
text-align: justify;
margin:auto;
width: 20%;
height: 20%;
font-family: Roboto;
padding-top: 1vh;
}

.rl-pic{
    display:flex;
    flex-wrap: wrap;
    width:70%;
    height:70%;
}

section {
    background-color: blanchedalmond;
    margin: -10px;
    padding: 40px 40px;
}

.title__about {
    display: flex;
    justify-content: center;
    position:relative;
    text-align: justify;
    margin:auto;
    width: 45%;
    height: 45%;
    font-family: Roboto;
    padding-bottom: 8vh;
    h3 {
        padding-top: 8vh;
    }


}